In [10]:
import pandas as pd
import urllib
import pyautogui


contatos_df = pd.read_excel("Acompanhamento - primeirasemana.xlsx")
display(contatos_df)

,Nome,CARTOES,FAMILIAseguros,0+8,Pague Digital,Venda Digital,numero
0,JULIANA,20,7,5619,3195,0,5521997688764
1,SILVANA,16,5,4652,1708,0,5521976891023
2,YURI,15,2,7815,4237,0,5521988143539
3,RAPHAEL,15,31,0,3307,0,5521997712922
4,NICHOLAS,10,32,0,2960,0,5521997784739
5,ANA CLARA,4,2,280,3645,0,5521969307354
6,RAYSSA,8,0,669,13823,0,5521999893218
7,MONISE,6,0,1688,11788,0,5521971358650
8,LETICIA,11,10,1548,6725,0,5521964985102
9,ITHALO,7,1,889,7440,0,5521995448932
10,MARIA CLARA,6,2,180,1978,0,5521966062534
11,FERNANDA,8,0,2078,2868,0,5521995023394
12,CLEONICE,12,1,1225,14064,0,5521995247791
13,GLEIVID,12,6,2882,5098,0,5521990978011
14,MARIA EDUARDA,4,1,884,3235,0,5521995137981
15,LUIZ ANTONIO,13,0,0,0,0,5521999469508
16,GABRIEL,4,1,18,3103,0,5521979348813

In [11]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
import urllib

navegador = webdriver.Chrome()
navegador.get("https://web.whatsapp.com/")

while len(navegador.find_elements_by_id("side")) < 1:
    time.sleep(1)

C:\Users\PARTIC~1\AppData\Local\Temp/ipykernel_5244/29166157.py:10: DeprecationWarning: find_elements_by_id is deprecated. Please use find_elements(by=By.ID, value=id_) instead
  while len(navegador.find_elements_by_id("side")) < 1:

In [ ]:
for i, mensagem in enumerate(contatos_df['CARTOES']):  
    pessoa = contatos_df.loc[i, "Nome"]
    numero = contatos_df.loc[i, "numero"]
    seguros = contatos_df.loc[i,"FAMILIAseguros"]
    parcelas = contatos_df.loc[i, "0+8"]
    texto = urllib.parse.quote(f"Oi {pessoa} ! tudo bem? \n vc realizou até agora;\n {mensagem} cartões e {seguros} seguros. \nAtualizado 19/03/2022.")
    link = f"https://web.whatsapp.com/send?phone={numero}&text={texto}"
    navegador.get(link)
    while len(navegador.find_elements_by_id("side")) < 1:
        time.sleep(1)
    navegador.find_element_by_xpath('//*[@id="main"]/footer/div[1]/div/span[2]/div/div[2]/div[1]/div/div[2]').send_keys(Keys.ENTER)
    time.sleep(10)

C:\Users\PARTIC~1\AppData\Local\Temp/ipykernel_5244/454245.py:9: DeprecationWarning: find_elements_by_id is deprecated. Please use find_elements(by=By.ID, value=id_) instead
  while len(navegador.find_elements_by_id("side")) < 1:
C:\Users\PARTIC~1\AppData\Local\Temp/ipykernel_5244/454245.py:11: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  navegador.find_element_by_xpath('//*[@id="main"]/footer/div[1]/div/span[2]/div/div[2]/div[1]/div/div[2]').send_keys(Keys.ENTER)